.sear_con {
  width: 950px;
  height: auto;
  margin: 0 auto; }
  .sear_con .title h1 {
    font-size: 25px;
    margin-bottom: 20px; }
  .sear_con .sear_left {
    width: 590px;
    height: auto;
    float: left; }
    .sear_con .sear_left .sear_left_cont1 {
      height: 164px;
      margin-bottom: 39px; }
      .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l {
        width: 412px;
        height: 164px;
        float: left; }
        .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_1 {
          float: left;
          width: 121px;
          height: 163px;
          border-top: 1px solid transparent; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_1 img {
            width: 121px;
            height: 121px; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_1 .similar {
            width: 121px;
            height: 27px;
            border-radius: 3px;
            background-color: #66ba9c;
            margin-top: 12px; }
            .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_1 .similar a {
              display: block;
              width: 121px;
              height: 27px;
              text-align: center;
              line-height: 27px;
              color: #fcf9fd; }
              .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_1 .similar a span {
                display: inline-block;
                width: 11px;
                height: 12px;
                background-image: url(../search_img/jingling.png);
                background-position: -222px -371px;
                vertical-align: middle; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_1 .similar:hover {
            background-color: #84c7af; }
        .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_2 {
          width: 264px;
          height: 122px;
          padding-left: 15px;
          float: left;
          color: #111111; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_2 span {
            display: inline-block;
            margin-top: 2px;
            color: #666666; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_2 a {
            color: #3377aa; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_l .sear_left_cont1_l_2 a:hover {
            color: #fff;
            background-color: #3377aa; }
      .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r {
        width: 159px;
        height: auto;
        border-left: 1px solid #eaeaea;
        padding-left: 10px;
        float: right; }
        .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r .score {
          width: 52px;
          height: 61px;
          line-height: 61px;
          font-size: 28px;
          color: #494949;
          float: left; }
        .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r .score_cont {
          width: 107px;
          height: 33px;
          padding: 11px 0 17px 0;
          float: left; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r .score_cont .stars {
            display: inline-block;
            width: 75px;
            height: 15px;
            background: url(../img/ic_rating_s.png) no-repeat;
            background-position: 0 -15px;
            background-size: cover; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r .score_cont .num {
            color: #3377aa; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r .score_cont .num:hover {
            background-color: #3377aa;
            color: #fff; }
        .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul {
          float: left; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li {
            color: #9b9b9b; }
            .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li span {
              display: inline-block;
              height: 10px;
              background-color: #ffd596;
              margin-left: 11px; }
            .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li a {
              color: #b49bb4; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li:nth-of-type(1) span {
            width: 64px; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li:nth-of-type(2) span {
            width: 26px; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li:nth-of-type(3) span {
            width: 7px; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li:nth-of-type(4) span {
            width: 1px; }
          .sear_con .sear_left .sear_left_cont1 .sear_left_cont1_r ul li:nth-of-type(5) span {
            width: 0px; }
    .sear_con .sear_left .fond {
      width: 590px;
      height: 66px;
      position: relative;
      margin-bottom: 44px; }
      .sear_con .sear_left .fond .fond_l {
        width: 299px;
        height: 66px; }
        .sear_con .sear_left .fond .fond_l p {
          width: 299px;
          height: 22px;
          padding: 15px 0; }
          .sear_con .sear_left .fond .fond_l p a {
            display: block;
            float: left;
            width: 49px;
            height: 22px;
            text-align: center;
            line-height: 22px;
            border: 1px solid #d5bcaa;
            border-radius: 3px;
            background-color: #ffeada;
            margin-right: 10px; }
          .sear_con .sear_left .fond .fond_l p span:nth-of-type(1) {
            line-height: 22px; }
          .sear_con .sear_left .fond .fond_l p span:nth-of-type(2) {
            display: inline-block;
            width: 78px;
            height: 15px;
            background: url(../img/ic_rating_s.png) no-repeat;
            background-position: 0 -110px;
            vertical-align: middle; }
      .sear_con .sear_left .fond ul li {
        float: left;
        margin-right: 10px;
        cursor: pointer; }
        .sear_con .sear_left .fond ul li span {
          color: #3377aa; }
        .sear_con .sear_left .fond ul li span:hover {
          background-color: #3377aa;
          color: #fff; }
        .sear_con .sear_left .fond ul li img {
          vertical-align: middle;
          padding-right: 6px; }
      .sear_con .sear_left .fond .recom {
        display: block;
        cursor: pointer;
        width: 42px;
        height: 21px;
        border: 1px solid #e6f2ee;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #f2f8f2;
        position: absolute;
        right: 0;
        bottom: 2px;
        text-align: center;
        line-height: 19px;
        color: #4f946e; }
      .sear_con .sear_left .fond .recom:hover {
        border: 1px solid #c4e2d8;
        background-color: #eff5ef; }
    .sear_con .sear_left h2 {
      font: 15px Arial, Helvetica, sans-serif;
      color: #007722; }
      .sear_con .sear_left h2 a {
        color: #3377aa; }
      .sear_con .sear_left h2 a:hover {
        background-color: #3377aa;
        color: #fff; }
    .sear_con .sear_left .intro {
      width: 590px;
      height: auto;
      padding-bottom: 31px; }
      .sear_con .sear_left .intro span {
        color: #111111; }
      .sear_con .sear_left .intro a {
        color: #3377aa; }
      .sear_con .sear_left .intro a:hover {
        background-color: #3377aa;
        color: #fff; }
    .sear_con .sear_left .track {
      padding-bottom: 45px;
      height: auto; }
    .sear_con .sear_left .other {
      width: 590px;
      height: 195px;
      display: flex; }
      .sear_con .sear_left .other .other_1 {
        width: 90px;
        height: auto;
        margin-right: 35px;
        text-align: center;
        margin-top: 18px;
        position: relative; }
        .sear_con .sear_left .other .other_1 img {
          width: 90px;
          height: 90px;
          margin-bottom: 10px; }
        .sear_con .sear_left .other .other_1 a {
          color: #3377aa; }
        .sear_con .sear_left .other .other_1 a:hover {
          background-color: #3377aa;
          color: #fff; }
        .sear_con .sear_left .other .other_1 .other_2 {
          display: block;
          width: 27px;
          height: 27px;
          position: absolute;
          right: 5px;
          top: 59px; }
    .sear_con .sear_left .record {
      width: 590px;
      height: 327px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30px; }
      .sear_con .sear_left .record .record_1 {
        width: 90px;
        height: auto;
        margin-right: 35px;
        text-align: center;
        margin-top: 18px; }
        .sear_con .sear_left .record .record_1 img {
          width: 90px;
          height: 90px;
          margin-bottom: 10px; }
        .sear_con .sear_left .record .record_1 a {
          color: #3377aa; }
        .sear_con .sear_left .record .record_1 a:hover {
          background-color: #3377aa;
          color: #fff; }
      .sear_con .sear_left .record .record_1:nth-of-type(5), .sear_con .sear_left .record .record_1:nth-of-type(10) {
        margin-right: 0; }
    .sear_con .sear_left .essay {
      width: 590px;
      height: 29px; }
      .sear_con .sear_left .essay h2 {
        display: block;
        width: auto;
        line-height: 29px;
        float: left; }
      .sear_con .sear_left .essay span {
        display: block;
        float: right;
        width: 75px;
        height: 23px;
        text-align: center;
        line-height: 21px;
        border: 1px solid #ffa4a4;
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #ffdddd;
        color: #ff7676;
        margin: 3px 6px 0 0; }
      .sear_con .sear_left .essay span:hover {
        border-color: #ee2e2e;
        background-color: #ff9494;
        color: #ffffff; }
    .sear_con .sear_left .essay_nav {
      padding: 5px 0 15px 0; }
      .sear_con .sear_left .essay_nav .nav_sty {
        color: #3377aa; }
      .sear_con .sear_left .essay_nav .nav_sty:hover {
        background-color: #3377aa;
        color: #fff; }
    .sear_con .sear_left .discuss {
      width: 590px;
      height: auto; }
      .sear_con .sear_left .discuss ul {
        width: 100%;
        height: auto; }
        .sear_con .sear_left .discuss ul li {
          width: 100%;
          height: auto;
          border-top: 1px solid #eeeeee;
          padding: 15px 0; }
          .sear_con .sear_left .discuss ul li h3 {
            font-weight: 300;
            font-size: 12px;
            position: relative;
            padding: 3px 0; }
            .sear_con .sear_left .discuss ul li h3 .name {
              color: #3377aa; }
            .sear_con .sear_left .discuss ul li h3 .name:hover {
              background-color: #3377aa;
              color: #fff; }
            .sear_con .sear_left .discuss ul li h3 .sp1 {
              display: inline-block;
              width: 55px;
              height: 11px; }
          .sear_con .sear_left .discuss ul li .sp2 {
            padding-left: 7px;
            color: #666666; }
          .sear_con .sear_left .discuss ul li .sp3 {
            position: absolute;
            right: 31px;
            color: #9a6f6f; }
          .sear_con .sear_left .discuss ul li .with {
            position: absolute;
            right: 2px;
            color: #3377aa; }
          .sear_con .sear_left .discuss ul li .with:hover {
            background-color: #3377aa;
            color: #fff; }
          .sear_con .sear_left .discuss ul li p {
            padding-right: 63px;
            color: #111111; }
        .sear_con .sear_left .discuss ul .sp_1 {
          background: url(../img/ic_rating_s.png) no-repeat;
          background-position: 0 -22px; }
        .sear_con .sear_left .discuss ul .sp_2 {
          background: url(../img/ic_rating_s.png) no-repeat;
          background-position: 0 0; }
        .sear_con .sear_left .discuss ul .sp_3 {
          background: url(../img/ic_rating_s.png) no-repeat;
          background-position: 0 -110px; }
        .sear_con .sear_left .discuss ul .sp_4 {
          background: url(../img/ic_rating_s.png) no-repeat;
          background-position: 0 -44px; }
        .sear_con .sear_left .discuss ul .sp_5 {
          background: url(../img/ic_rating_s.png) no-repeat;
          background-position: 0 0; }
      .sear_con .sear_left .discuss .more {
        padding-bottom: 21px; }
        .sear_con .sear_left .discuss .more a {
          color: #3377aa; }
        .sear_con .sear_left .discuss .more a:hover {
          background-color: #3377aa;
          color: #fff; }
    .sear_con .sear_left .record {
      width: 590px;
      height: auto; }
      .sear_con .sear_left .record ul {
        width: 590px;
        height: auto; }
        .sear_con .sear_left .record ul li {
          width: 590px;
          height: 177px;
          padding-top: 15px; }
          .sear_con .sear_left .record ul li h3 {
            width: 590px;
            height: 28px;
            background-color: #f3f5f2;
            line-height: 28px;
            position: relative;
            padding-left: 10px; }
            .sear_con .sear_left .record ul li h3 a {
              color: #3377aa; }
            .sear_con .sear_left .record ul li h3 a:hover {
              background-color: #3377aa;
              color: #fff; }
            .sear_con .sear_left .record ul li h3 span {
              display: inline-block;
              width: 30px;
              height: 28px;
              position: absolute;
              right: 0;
              text-align: center;
              cursor: pointer; }
              .sear_con .sear_left .record ul li h3 span img {
                vertical-align: middle; }
          .sear_con .sear_left .record ul li .datum {
            padding: 15px 0 10px;
            height: 24px;
            line-height: 24px; }
            .sear_con .sear_left .record ul li .datum img {
              width: 24px;
              height: 24px;
              float: left; }
            .sear_con .sear_left .record ul li .datum .sp2_1 {
              color: #6c77bc;
              margin-left: 13px; }
            .sear_con .sear_left .record ul li .datum .sp2_1:hover {
              background-color: #6c77bc;
              color: #fff; }
            .sear_con .sear_left .record ul li .datum .sp2_2 {
              display: inline-block;
              width: 55px;
              height: 11px;
              background: url(../img/ic_rating_s.png) no-repeat;
              padding-left: 4px; }
            .sear_con .sear_left .record ul li .datum .sp2_3 {
              padding-left: 12px;
              color: #999999; }
          .sear_con .sear_left .record ul li .datum_cont1 {
            color: #111111; }
            .sear_con .sear_left .record ul li .datum_cont1 a {
              color: #3377aa; }
            .sear_con .sear_left .record ul li .datum_cont1 a:hover {
              background-color: #3377aa;
              color: #fff; }
          .sear_con .sear_left .record ul li .datum_cont2 {
            padding: 12px 0;
            color: #999999; }
      .sear_con .sear_left .record p {
        position: relative;
        width: 590px;
        height: 15px;
        margin-bottom: 44px; }
        .sear_con .sear_left .record p span {
          position: absolute;
          right: 84px; }
        .sear_con .sear_left .record p a {
          position: absolute;
          right: 0;
          color: #3377aa; }
        .sear_con .sear_left .record p a:hover {
          background-color: #3377aa;
          color: #fff; }
    .sear_con .sear_left table {
      border-collapse: collapse;
      border: none;
      border-spacing: 0;
      display: table; }
    .sear_con .sear_left .tab {
      width: 100%;
      padding: 0;
      margin-bottom: 3px; }
      .sear_con .sear_left .tab td {
        display: table-cell;
        vertical-align: inherit;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px dashed #dddddd;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font: 12px Arial, Helvetica, sans-serif; }
        .sear_con .sear_left .tab td a {
          color: #3377aa; }
        .sear_con .sear_left .tab td a:hover {
          background-color: #3377aa;
          color: #fff; }
    .sear_con .sear_left tr td:nth-of-type(1) {
      width: 324px;
      height: 25px; }
    .sear_con .sear_left tr td:nth-of-type(2) {
      width: 140px;
      height: 25px; }
    .sear_con .sear_left tr td:nth-of-type(3) {
      width: 49px;
      height: 25px; }
    .sear_con .sear_left tr td:nth-of-type(4) {
      width: 77px;
      height: 25px; }
    .sear_con .sear_left tr:nth-of-type(1) td:nth-of-type(1) {
      width: 324px;
      height: 11px; }
    .sear_con .sear_left tr:nth-of-type(1) td:nth-of-type(2) {
      width: 140px;
      height: 11px; }
    .sear_con .sear_left tr:nth-of-type(1) td:nth-of-type(3) {
      width: 49px;
      height: 11px; }
    .sear_con .sear_left tr:nth-of-type(1) td:nth-of-type(4) {
      width: 77px;
      height: 11px; }
    .sear_con .sear_left .browse {
      position: relative;
      width: 590px;
      height: 15px;
      margin-bottom: 44px; }
      .sear_con .sear_left .browse span {
        position: absolute;
        right: 75px; }
      .sear_con .sear_left .browse a {
        position: absolute;
        right: 0;
        color: #3377aa; }
      .sear_con .sear_left .browse a:hover {
        background-color: #3377aa;
        color: #fff; }
  .sear_con .sear_right {
    width: 310px;
    height: auto;
    float: right; }
    .sear_con .sear_right .tags-right {
      width: 310px;
      height: 60px; }
      .sear_con .sear_right .tags-right .music-tags {
        display: inline-block;
        letter-spacing: normal;
        margin: 0px 8px 8px 0px;
        padding: 0px 8px;
        border-radius: 2px; }
      .sear_con .sear_right .tags-right .music-tags {
        background-color: #f5f5f5;
        color: #37a; }
    .sear_con .sear_right .music-tags:hover {
      background-color: #f0f3ef; }
    .sear_con .sear_right .pl {
      font: 12px Arial, Helvetica, sans-serif;
      line-height: 150%;
      color: #666666; }
      .sear_con .sear_right .pl a {
        color: #3377aa; }
      .sear_con .sear_right .pl a:hover {
        background-color: #3377aa;
        color: #fff; }
    .sear_con .sear_right .bs {
      margin-bottom: 40px; }
      .sear_con .sear_right .bs li {
        border-bottom: 1px dashed #dddddd;
        padding: 3px 0; }
        .sear_con .sear_right .bs li a {
          color: #3377aa; }
        .sear_con .sear_right .bs li a:hover {
          background-color: #3377aa;
          color: #fff; }
    .sear_con .sear_right .uls {
      width: 100%;
      height: auto; }
      .sear_con .sear_right .uls ul {
        width: 100%;
        height: 365px;
        margin-bottom: 15px; }
        .sear_con .sear_right .uls ul li {
          width: 100%;
          height: 67px;
          border-bottom: 1px dashed #dddddd;
          padding: 12px 0; }
          .sear_con .sear_right .uls ul li .lis1 {
            width: 48px;
            height: 48px;
            float: left; }
            .sear_con .sear_right .uls ul li .lis1 a {
              display: block;
              width: 48px;
              height: 48px; }
          .sear_con .sear_right .uls ul li .lis2 {
            height: auto;
            float: left;
            padding-left: 10px; }
            .sear_con .sear_right .uls ul li .lis2 a {
              color: #3377aa; }
            .sear_con .sear_right .uls ul li .lis2 a:hover {
              background-color: #3377aa;
              color: #fff; }
            .sear_con .sear_right .uls ul li .lis2 .spa1 {
              font: 12px Arial, Helvetica, sans-serif;
              line-height: 150%;
              color: #666666; }
            .sear_con .sear_right .uls ul li .lis2 .spa2 {
              display: inline-block;
              width: 55px;
              height: 11px;
              background-image: url(../img/ic_rating_s.png); }
          .sear_con .sear_right .uls ul li p {
            margin-top: 10px; }
          .sear_con .sear_right .uls ul li .spa_i1 {
            background-position: 0 -44px; }
          .sear_con .sear_right .uls ul li .spa_i2 {
            background-position: 0 0; }
          .sear_con .sear_right .uls ul li .spa_i3 {
            background-position: 0 0; }
          .sear_con .sear_right .uls ul li .spa_i4 {
            background-position: 0 -22px; }
      .sear_con .sear_right .uls .pa {
        padding: 2px 0; }
        .sear_con .sear_right .uls .pa a {
          color: #3377aa; }
        .sear_con .sear_right .uls .pa a:hover {
          background-color: #3377aa;
          color: #fff; }
    .sear_con .sear_right .imgge_b {
      margin-top: 50px; }
    .sear_con .sear_right .indent .bs .rr {
      float: right; }
    .sear_con .sear_right .wifi {
      background: url(../search_img/wifi.jpg) no-repeat;
      padding-left: 18px; }
    .sear_con .sear_right .mobile {
      height: 70px;
      background-color: #f1f1f1;
      border-radius: 5px;
      margin-top: 10px;
      background-image: url(../img/tp.jpg);
      background-position: -30px -20px; }
      .sear_con .sear_right .mobile a {
        display: block;
        width: 310px;
        height: 70px;
        padding: 20px 0 0 70px; }
        .sear_con .sear_right .mobile a p {
          font-size: 16px;
          font-weight: bold;
          color: #204d92; }
        .sear_con .sear_right .mobile a span {
          color: #4e4e4e; }
    .sear_con .sear_right h2 {
      font: 15px Arial, Helvetica, sans-serif;
      color: #072;
      margin: 0 0 12px 0;
      line-height: 150%; }
  .sear_con .ends {
    float: left; }

/*# sourceMappingURL=search.css.map */
