*{
	margin: 0;
	padding: 0;
}
body{overflow-x: hidden;}
ul li{list-style: none;}

/*头部*/
.header{width: 100%;height: 1.5rem;padding: 0.5rem 0;}
.header div{float: left;}
.header_logo{width: 1.35rem;height: 1.5rem;margin-left: 0.75rem;}
.header_logo img{width: 1.35rem;height: 1.5rem;vertical-align: middle;}
.header_search{width: 14rem;height: 1.5rem;background-color: #dddddd;border-radius: 0.125rem;position: relative;}
.header_search img{width: 0.675rem;height: 0.65rem;position: absolute;left: 4.25rem;top: 0.425rem;}
.header_search input{width: 7rem;height: 0.7rem;border: none;outline: none;border-left: 0.05rem solid #cccccc;padding: 0 1.6rem;vertical-align: middle;background-color: #dddddd;font-size: 0.625rem;}
.header_search span{display: inline-block;margin-left: 1.35rem;font-size: 0.625rem;line-height: 1.5rem;}
.header_search span a{display: inline-block;width: 0.25rem;height: 0.25rem;border: 0.05rem solid #6d6e6e;box-sizing: border-box;margin-left: 0.275rem;margin-right: 0.55rem;border-top: none;border-left: none;}
.header_menu{width: 1.15rem;height: 1.5rem;margin-left: 0.15rem;}
.header_menu img{width: 1rem;height: 0.975rem;vertical-align: middle;}

/*轮播图*/
.shuffl{width: 100%;height: 5.06rem;overflow: hidden;position: relative;}
.shuffl ul{width: 300%;height: 5.05rem;position: absolute;display: flex;flex-wrap: wrap;}
.shuffl ul li{height: 5.05rem;}
.shuffl ul li img{width: 18rem;height: 5.05rem;}
.shuffl .dot{width: 1.5rem;height: 0.3rem;position: absolute;left: 0;right: 0;bottom: 0.5rem;margin: 0 auto;}
.shuffl .dot span{display: block;float: left;width: 0.3rem;height: 0.3rem;border-radius: 50%;background-color: #ccc;margin: 0 0.1rem;}
.shuffl .dot .active{background-color: #23cc79;}

/*方式*/
.way{width: 100%;height: 3.425rem;}
.way ul{width: 100%;height: 3.425rem;}
.way ul li{float: left;width: 5.3rem;height: 2.425rem;margin: 0.5rem 0 0.5rem 0.5rem;}
.way ul li img{width: 5.3rem;height: 2.425rem;}

/*模式*/
.model{height: 8.75rem;padding-top: 0.5rem;border-bottom: 2px solid #dddddd;overflow: hidden;position: relative;}
.model ul{width: 36rem;height: 7.275rem;position: absolute;display: flex;flex-wrap: wrap;}
.model ul li{width: 3.6rem;height: 3.425rem;text-align: center;padding-top: 0.425rem;}
.model ul li img{width: 2rem;height: 2rem;}
.model ul li span{font-size: 0.625rem;display: block;}
.model .dot{width: 1.5rem;height: 0.3rem;position: absolute;left: 0;right: 0;bottom: 0.35rem;margin: 0 auto;}
.model .dot span{display: block;float: left;width: 0.3rem;height: 0.3rem;border-radius: 50%;background-color: #ccc;margin: 0 0.1rem;}
.model .dot .active{background-color: #23cc79;}

/*签到*/
.signin{width: 100%;height: 1.95rem;}
.signin .sigone{display: inline-block;width: 1.1rem;height: 1.1rem;vertical-align: middle;margin-left: 1.2rem;}
.signin .sigone img{width: 1.1rem;height: 1.1rem;}
.signin .sigtwo{font-size: 0.7rem;color: #6d6e6e;}
.signin .sigthree{display: inline-block;width: 4.25rem;height: 1.05rem;vertical-align: middle;border-left: 2px solid #dddddd;margin-left: 0.6rem;position: relative;}
.signin .sigthree img{width: 3.15rem;height: 0.85rem;position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin: auto;}

/*服务*/
.service{height: 100%;height: 3.7rem;background-color: #f0f0f0;}
.service li{width: 2.8rem;height: 2.2rem;float: left;margin: 0.5rem 0 0.5rem 0.65rem;border-radius: 0.125rem;background-color: #fff;text-align: center;padding-top: 0.5rem;}
.service li p{width: 1rem;height: 0.95rem;margin: 0 auto;}
.service li p img{width: 1rem;height: 0.95rem;}
.service li span{display: block;font-size: 0.6rem;margin-top: 0.2rem;}

/*景点*/
.attractions{width: 100%;height: 8.3rem;}
.attractions .attr_left{width: 7.6rem;height: 8.3rem;background-color: #fff;float: left;}
.attractions .attr_left .attr_left_1{width: 7.625rem;height: 0.9rem;position: relative;}
.attractions .attr_left .attr_left_1 img{width: 2.6rem;height: 0.9rem;position: absolute;}
.attractions .attr_left .attr_left_1 span{display: inline-block;margin-left: 0.1rem;color: #fff;position: absolute;font-size: 0.5rem;line-height: 0.9rem;}
.attractions .attr_left .attr_left_2{width: 7.625rem;height: 4.025rem;text-align: center;}
.attractions .attr_left .attr_left_2 img{width: 6.25rem;height: 4.025rem;}
.attractions .attr_left .attr_left_3{width: 7.625rem;height: 3.375rem;text-align: center;}
.attractions .attr_left .attr_left_3 .p1{font-size: 0.7rem;color: #2a2928;}
.attractions .attr_left .attr_left_3 .s1{display:inline-block;color: #fc5a2c;font-size: 0.5rem;margin-right: 0.2rem;}
.attractions .attr_left .attr_left_3 .s2{display: inline-block;padding: 0.15rem 0.25rem;color: #fff;border-radius: 0.125rem;font-size: 0.5rem;background-color: #ff8800;}
.attractions .attr_left .attr_left_3 .p2{font-size: 0.5rem;margin-top: 0.2rem;}
.attractions .attr_left .attr_left_3 .p2 span{padding: 0.1rem 0.2rem;background-color: #dddddd;color: 6d6e6e;border-radius: 0.075rem;}
.attractions .attr_left .attr_left_3 .p2 a{padding: 0.1rem 0.2rem;color: 6d6e6e;}
.attractions .attr_right{width: 10.375rem;height: 8.3rem;float: left;}
.attr_right ul{width: 10.375rem;height: 8.3rem;border-left: 0.025rem solid #eeeeee;box-sizing: border-box;}
.attr_right ul li{float: left;}
.attr_right ul li:nth-of-type(1){width: 10.35rem;height: 2.7rem;border-bottom: 0.025rem solid #eeeeee;padding-top: 0.475rem;}
.attr_right ul .attr_right_1{float: left;width: 3.75rem;height: 3.175rem;padding-left: 1.3rem;}
.attr_right ul .attr_right_2{float: left;width: 5.3rem;height: 3.175rem;}
.attr_right ul .attr_right_2 img{width: 4.775rem;height: 2.7rem;}
.attr_right ul li:nth-of-type(2){width: 5.2rem;height: 5.1rem;border-right: 0.025rem solid #eeeeee;box-sizing: border-box;text-align: center;}
.attr_right ul li:nth-of-type(2) img{width: 3.175rem;height: 3.025rem;}
.attr_right ul li:nth-of-type(2) span{font-size: 0.5rem;}
.attr_right ul li:nth-of-type(3){width: 5.1rem;height: 5.1rem;text-align: center;}
.attr_right ul li:nth-of-type(3) img{width: 3.95rem;height: 3.025rem;}

.attr_right ul li .aa{display: block;font-size: 0.7rem;color: #2a2928;display: block;height:1.1rem;line-height: 1.5rem;}
.attr_right ul li .ss{font-size: 0.5rem;color: #999999;display: block;height:1rem;line-height: 1.1rem;}

/*推荐*/
.recom{width: 100%;height: 16.825rem;background-color: #f0f0f0;padding-top: 0.5rem;}
.recom .recom_t{width: 100%;height: 2.25rem;background-color: #fff;}
.recom .recom_t h4{font-size: 0.625rem;line-height: 2.25rem;margin-left: 0.775rem;}
.recom ul{width: 100%;height: 11.9rem;display: flex;flex-wrap: wrap;}
.recom ul li{width: 4.45rem;height:5.9rem;text-align: center;background-color: #fff;margin: 0.05rem 0 0 0.05rem;}
.recom ul li .aa{display: block;font-size: 0.7rem;color: #2a2928;display: block;height:1.1rem;line-height: 1.5rem;}
.recom ul li .ss{font-size: 0.5rem;color: #999999;display: block;height:1rem;line-height: 1.1rem;}
.recom ul li img{width: 4.45rem;height:3.7rem;}

.found{width: 100%;height: 2.675rem;}
.found div{float: left;}
.found .marg{margin-left: 3.5rem;}
.found .found_line{width: 2.65rem;height: 1.6rem;border-bottom: 0.05rem solid #dddddd;box-sizing: border-box;}
.found .found_mid{width: 5.7rem;height: 2.675rem;line-height: 2.675rem;text-align: center;}
.found .found_mid img{width: 0.85rem;height: 0.85rem;vertical-align: middle;margin-right: 0.25rem;}
.found .found_mid span{font-size: 0.625rem;}

/*喜欢*/
.like{width: 100%;height: 2.25rem;}
.like ul{width: 100%;height: 2.1rem;display: flex;}
.like ul li{width: 25%;height: 2.1rem;line-height: 2.1rem;text-align: center;font-size: 0.625rem;color: #291025;}
.like .listyle{color: #23cc79;}
.like p{width: 25%;height: 0.15rem;background-color: #23cc79;}

/*地点*/
.place{width: 100%;height: 3.6rem;}
.place ul{width: 100%;height: 3.6rem;display: flex;flex-wrap: wrap;background-color: #f8f8f8;}
.place ul li{width: 4.4rem;height: 1.775rem;text-align: center;border-right: 0.05rem solid #dddddd;border-bottom: 0.05rem solid #dddddd;}
.place ul li:nth-of-type(4),.place ul li:nth-of-type(8){border-right:0;}
.place ul li span{display: inline-block;width: 3.1rem;height: 1.25rem;font-size: 0.625rem;line-height: 1.775rem;}
.place .libackg{background-color: #23cc79;border-radius: 1.25rem;color: #fff;margin-top: 0.3rem;line-height: 1.25rem;}

/*跟团*/
.wtg{width: 100%;height: 47.8rem;}
.wtg .beautiful{width: 100%;height: 11.95rem;background-color: #f0f0f0;float: left;}
.wtg .beautiful .figure{width: 100%;height: 7.5rem;float: left;}
.wtg .beautiful .figure img{height: 7.5rem;}
.wtg .introduce{width: 100%;height: 3.95rem;background-color: #fff;float: left;float: left;}
.wtg .introduce p{font-size: 0.625rem;color: #282828;padding: 1rem 0.75rem 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.wtg .introduce span{font-size: 0.5rem;color: #999999;padding-left:  0.75rem;}

/*机票*/
.ticket{width: 100%;height: 10.225rem;padding-top: 0.825rem;overflow: hidden;background: url(../img/img9-3.png) no-repeat;background-size: 18rem 10.55rem;background-color: #f0f0f0;}
.ticket .tick_cont{width: 100%;height: 10.55rem;text-align: center;}
.ticket .tick_cont p{font-size: 1rem;color: #fff;}
.ticket .tick_cont span{font-size: 0.625rem;color: #f0f0f0;}
.ticket .tick_cont ul{width: 17rem;height: 5.8rem;background-color: #eeeeee;margin: 0 auto;}
.ticket .tick_cont ul li{height: 2.875rem;background-color: #fff;}
.ticket .tick_cont ul li:nth-of-type(1){background: url(../img/tuniu.gif) -0.5rem -107.725rem;background-size: 18rem 137.225rem;}
.ticket .tick_cont ul li:nth-of-type(2){margin-top: 0.05rem;background: url(../img/tuniu.gif) -0.5rem -110.65rem;background-size: 18rem 137.225rem;}
.ticket .tick_cont a{font-size: 0.625rem;color: #fff;}

/*旅游*/
.tourism{width: 100%;height: 11.95rem;}
.tourism .beautiful{width: 100%;height: 11.95rem;background-color: #f0f0f0;float: left;}
.tourism .beautiful .figure{width: 100%;height: 7.5rem;float: left;}
.tourism .beautiful .figure img{height: 7.5rem;}
.tourism .introduce{width: 100%;height: 3.95rem;background-color: #fff;float: left;float: left;}
.tourism .introduce p{font-size: 0.625rem;color: #282828;padding: 1rem 0.75rem 0;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tourism .introduce span{font-size: 0.5rem;color: #999999;padding-left:  0.75rem;}

/*注册*/
.registered{width: 100%;height: 2.775rem;background-color: #eeeeee;display: flex;}
.registered li{width: 3.55rem;height: 2.7rem;background-color: #fff;border: 1px dotted #dddddd;text-align: center;}
.registered li p{width: 0.8rem;height: 0.8rem;margin: 0.5rem auto 0.25rem;}
.registered li span{display: block;margin: 0 auto;font-size: 0.625rem;}
.regi_1{background: url(../img/img11.png) 0 0;background-size: 5rem 1.25rem;}
.regi_2{background: url(../img/img11.png) -1.05rem 0;background-size: 5rem 1.25rem;}
.regi_3{background: url(../img/img11.png) -2.1rem 0;background-size: 5rem 1.25rem;}
.regi_4{background: url(../img/img11.png) -3.15rem 0;background-size: 5rem 1.25rem;}
.regi_5{background: url(../img/img11.png) -4.2rem 0;background-size: 5rem 1.25rem;}

/*结尾*/
.end{width: 100%;height: 4.2rem;border-bottom: 1px solid #dddddd;text-align: center;position: relative;}
.end span{color: #dddddd;font-size: 0.5rem;}
.end a{width: 2.15rem;height: 2.15rem;position: absolute;right: 0.575rem;bottom: 0.575rem;background: url(../img/tuniu.gif) -15.275rem -133.025rem;background-size: 18rem 137.225rem;}
.end .back{}
